*{
padding: 0;
margin: 0;
}

.cabecalho{
    background-color: whitesmoke
}

.cabecalho-imagem{
    width: 270px

}

body{
    background-color: cadetblue;
    font-family: "Roboto Condensed", sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

